@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

// RESET // 
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: v.$primary-font;
  color: v.$white;
}

//BASE STYLES

body{
  background-color: v.$black;
  background-image: 
    url(img/bg-circles.svg),
    url(img/bg-oval.svg),
    url(img/bg-circles-mirror.svg),
    url(img/bg-circles.svg),
    url(/img/adam-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: 
    top 8rem left -300px,
    top 15rem right -4rem,
    center right -50px,
    bottom left -300px,
    top center;
  background-size: auto, auto, auto, auto, 160px;

  @include m.breakpoint("tablet"){
    background-image: 
    url(img/bg-circles.svg),
    url(img/bg-oval.svg),
    url(img/bg-circles-mirror.svg),
    url(img/bg-circles.svg),
    url(/img/adam-bg-img.png);

  background-position: 
    top 8rem left -300px,
    top 22rem right -4rem,
    center right,
    bottom left -300px,
    top right;
  background-size: auto, auto, auto, auto, 300px;
  }
  @include m.breakpoint("laptop"){
    background-image: 
    url(img/bg-circles.svg),
    url(img/bg-oval.svg),
    url(img/bg-circles-mirror.svg),
    url(img/bg-circles.svg),
    url(/img/adam-bg-img.png);

  background-position: 
    top 8rem left -300px,
    top 20rem right 17rem,
    center right,
    bottom left -300px,
    top right 2.5rem;
  background-size: auto, auto, auto, auto, 300px;
  }

  @include m.breakpoint("desktop"){
    background-image: 
    url(img/bg-circles.svg),
    url(img/bg-oval.svg),
    url(img/bg-circles-mirror.svg),
    url(img/bg-circles.svg),
    url(/img/adam-bg-img.png);

  background-position: 
    top 8rem left -300px,
    top 26rem right 23rem,
    center right,
    bottom left -300px,
    top right 5rem;
  background-size: auto, auto, auto, auto, 350px;
  }

}

.container{
  max-width: 350px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  margin-left: auto;
  @include m.breakpoint("tablet"){
    max-width: 700px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @include m.breakpoint("laptop"){
    max-width: 1200px;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
  @include m.breakpoint("desktop"){
    max-width: 1800px;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}