@use '../abstract/_variables' as v;

//Breakpoints Media Querys
@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 1440px) { @content; }
    } @else if $point == laptop {
      @media (max-width: 1439px) and (min-width:1024px ) { @content; }
    } @else if $point == tablet {
      @media (max-width: 1023px) and (min-width: 768px) { @content; }
    } @else if $point == mobile {
      @media (max-width: 767px) { @content; }
    }
  }



  // Reset List

@mixin reset-list(){
    display: flex;
    list-style-type: none;
    gap: 0px;
    align-items: center;
    li{
        a{
            text-decoration: none;
        }
    }
}

// BUTTONS
@mixin button_style($type){
    display: inline-block;
    text-decoration: none;
    transition: 0.5s ease;
    text-transform: uppercase;
    font-family: v.$title-font;
    font-size: 18px;
    font-weight: v.$font-extrabold;
    background-repeat: no-repeat;
    padding: 15px;
    color: v.$white-color;

    @if $type == "button_one"{
        background-image:url(/img/arrow-icon.svg), linear-gradient(90deg, v.$black-color 75%, v.$copper-color 75%, v.$copper-color 100%);
        background-position: center right 18px, 0 0;
        
        padding-right: 70px;
        padding-left: 30px;
        
        &:hover{
          background-image:url(/img/arrow-icon.svg), linear-gradient(90deg, v.$copper-color 75%, v.$black-color 75%, v.$black-color 100%);
          background-position: center right 18px, 0 0;
        }
    }
    @if $type == "button_two"{
      background-image:url(/img/back-arrow.svg), linear-gradient(90deg,v.$copper-color 25%, v.$black-color 25%, v.$black-color 100% );
      background-position: center left 20px, 0 0;
      padding-left: 70px;
      padding-right: 30px;
      
      &:hover{
        background-image:url(/img/back-arrow.svg), linear-gradient(90deg, v.$black-color 25%, v.$copper-color 25%, v.$copper-color 100%);
        background-position: center left 20px, 0 0;
      }
    }
}

