@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

.footer{
    background-color: v.$darkgrey;
    background-image: url(/img/bg-circles.svg);
    background-repeat: no-repeat;
    background-position: bottom 10rem left -300px;
    background-size: auto;
    max-width: 100%;
    .container{
        padding-top: 3.75rem;
        .footer__content{   
            @include m.breakpoint("tablet"){
                max-width: 70%;
                margin-right: auto;
                margin-left: auto;
            }

            @include m.breakpoint("laptop"){
                display: flex;
                justify-content: space-between;
            }

            @include m.breakpoint("desktop"){
                display: flex;
                justify-content: space-between;
            }
            .footer__text{
                @include m.breakpoint("laptop"){
                    max-width: 50%;
                }
                @include m.breakpoint("desktop"){
                    max-width: 50%;
                }
                h2{
                  font-size: 2.5rem;
                  font-weight: v.$font-bold;
                  line-height: 2.5rem;  
                  text-align: center;
                  padding-bottom: 1.25rem;
                  @include m.breakpoint("laptop"){
                    text-align: left;
                    font-size: 4.3rem;
                    padding-bottom: 2rem;
                  }
                  @include m.breakpoint("desktop"){
                    text-align: left;
                    font-size: 5.5rem;
                    padding-bottom: 3rem;
                  }
                }
                p{
                    line-height: 1.5rem;
                    text-align: center;
                    padding-bottom: 1.25rem;
                    @include m.breakpoint("laptop"){
                        text-align: left;
                    }
                    @include m.breakpoint("desktop"){
                        text-align: left;
                        font-size: 1.12rem;
                        max-width: 60%;
                    }
                }
            }

            form{
                display: flex;
                flex-direction: column;
                padding-bottom: 6.25rem;
                @include m.breakpoint("laptop"){
                    width: 40%;
                }
                @include m.breakpoint("desktop"){
                    width: 40%;
                }
                label{
                    color: v.$lightgrey;
                }

                .form__text{
                    border: none;
                    border-bottom: 1px solid v.$lightgrey;
                    outline: none;
                    resize: none;
                    background-color: v.$darkgrey;
                    margin-bottom: 1rem;
                    padding: 0.5rem 0.25rem;
                    max-width: 100%;

                }

                .button{
                    display: block;
                    max-width:40%;
                    align-self: flex-end;
                    color: v.$white;
                    background-color: v.$darkgrey;
                    border: none;
                    position: relative;
                    margin-top: 1rem;
                    &:hover{
                        color: v.$green;
                    }
                    &::after{
                        content: "";
                        height: 2px;
                        width: 95%;
                        display: inline-block;
                        background-color: v.$green;
                        position: absolute;
                        bottom: -0.62rem;
                        right: 3%;
                    }
                }
            }
        }

        .footer__nav{
            //Stiles are common with header.
            .container{
                //this container is only for re-use header stiles. 
                margin: 0;
                padding: 0;
            }
            padding-bottom: 3rem;
        }
    }
}