@use '../abstract/_variables' as v;
@use '../abstract/_mixins' as m;

.header, .footer__nav{
    margin-top: 1.25rem;
    .container{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        align-items: center;

        @include m.breakpoint("tablet"){
            flex-direction: row;
            justify-content: space-between;
        }
        @include m.breakpoint("laptop"){
            flex-direction: row;
            justify-content: space-between;
        }
        @include m.breakpoint("desktop"){
            flex-direction: row;
            justify-content: space-between;
        }
        img{
            max-width: 8rem;
            @include m.breakpoint("laptop"){
                max-width: 10rem
            }
            @include m.breakpoint("desktop"){
                max-width: 10rem
            }
        }
        .nav{
            ul{
                @include m.reset_list();
                gap: 1.56rem;
                li{
                    a{
                        img{
                            max-width: 1.25rem;
                            @include m.breakpoint("laptop"){
                                max-width: 1.5rem
                            }
                            @include m.breakpoint("desktop"){
                                max-width: 1.5rem
                            }
                        }
                    }
                }
            }
        }
    }
}